#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  background-color: #0b2434;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.active{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.scoreboard, .active{
  background-color: #F5F5F5;
  border-radius: 10px;
  margin: 20px;
  width: 450px;
}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;

}

.die {
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  cursor: pointer;
}


.roll-dice {
  background-color: #0d62d1;
  color: white;
  border: none;
  margin:20px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.roll-dice:hover {
  background-color: #0b4a9e;
}

.roll-dice:focus {
  outline: none;
}

.sr-only {
  display: none;
}